/* Imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Variables */
:root {
  --purple: #242d81;
  --green: #e8fd90;
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
/* Global Color Scheme */
html {
  background-color: var(--purple);
  color: var(--green);
}

/* Typography */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "DM Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Crimson Text", serif;
}

p {
  text-wrap: pretty;
}

/* Layout */
header {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

section {
  margin: 2em 1em;
}

button {
  cursor: pointer;
  background-color: var(--purple);
  color: var(--green);
  border: 0.1em solid var(--green);
  border-radius: 0.5em;
}

button:hover {
  background-color: var(--green);
  color: var(--purple);
}
