@import url("https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --color-background: #fef3c7;
  --color-text: #92400e;
}

/* Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-wrap: pretty;
  font-family: "Alice", monospace;
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin: 0;
}

/* Layout */
header,
footer,
main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Article Components */
.content-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.article-title {
  text-align: center;
  margin: 0;
}

.article-body {
  display: flex;
  gap: 1rem;
}

/* Article Columns */
.content-column {
  flex: 2;
  padding: 1rem;
}

.aside-column {
  flex: 1;
  padding: 1rem;
}

/* Link Styles */
a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}
