@import url("https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --color-background: #fef3c7;
  --color-text: #92400e;
}
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-wrap: pretty;
  font-family: "Alice", monospace;
  background-color: var(--color-background);
  color: var(--color-text)
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
footer,
main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
}
a {
  color: inherit;
  text-decoration: none;
  font-style:italic;
}
a:hover {
  text-decoration: underline;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.article-body {
  display: flex;
  gap: 1rem;
}
.article-title {
  text-align: center;
  margin: 0;
}
.content-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.content-column {
  flex: 2;
  padding: 1 rem;
}

.aside-column {
  flex: 1;
  padding: 1 rem;
}
