:root {
    /* Colors */
    --dk-blue:#193987;
    --med-blue:#7c96b4;
    --purple:#a37cb4;
    --pink:#bc7199;
    --fuschia:#ab0d60;
    --green: #749b93;
    --dk-grey:#686868;
    --lt-grey: #686868;
}